<a href="https://colab.research.google.com/github/Baisal89/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/Copy_of_LS_DS5_121_Join_and_Reshape_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [2]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-06-05 00:39:38--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.109.45
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.109.45|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  90.9MB/s    in 2.2s

2019-06-05 00:39:40 (90.9 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [3]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [4]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [5]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

In [6]:
!head aisles.csv

aisle_id,aisle
1,prepared soups salads
2,specialty cheeses
3,energy granola bars
4,instant foods
5,marinades meat preparation
6,other
7,packaged meat
8,bakery desserts
9,pasta sauce

# Join Datasets

## Goal: Reproduce this example

The first two orders for user id 1:

In [7]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [8]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [9]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')
aisles.shape

(134, 2)

In [10]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

aisles.csv does not have any columns that we need.

### departments

In [11]:
!head departments.csv

department_id,department
1,frozen
2,other
3,bakery
4,produce
5,alcohol
6,international
7,beverages
8,pets
9,dry goods pasta

In [12]:
departments = pd.read_csv('departments.csv')
print(departments.shape)
departments.head()

(21, 2)

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [13]:
display(example)

departments.csv does not have any information that we need.

### order_products__prior

In [14]:
order_products__prior = pd.read_csv('order_products__prior.csv')
print(order_products__prior.shape)
order_products__prior.head()

(32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [15]:
display(example)

In [16]:
!free -m

              total        used        free      shared  buff/cache   available
Mem:          13022        7275        1493           0        4254       11429
Swap:             0           0           0

In [17]:
order_products__prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [18]:
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [19]:
order_products__prior.groupby('order_id')['product_id'].count().mean()

10.088883421247614

order_products__prior has:
 - order_id
 - product_id

### order_products__train

In [20]:
order_products__train = pd.read_csv('order_products__train.csv')
print(order_products__train.shape)
order_products__train.head()

(1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [21]:
display(example)

order_products__prior has:
 - order_id
 - product_id

### orders

In [22]:
orders = pd.read_csv('orders.csv')
print(orders.shape)
orders.head()

(3421083, 7)

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

In [23]:
display(example)

orders.csv has:
- user_id
- order_number
- order_dow
- order_day

order_id and order_number are particularly useful because they are found in multiple CSVs and we can use them as an index to match rows.

### products

In [24]:
products = pd.read_csv('products.csv')
print(products.shape)
products.head()

(49688, 4)

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [25]:
display(example)

products.csv has 
- product_name

## Concatenate order_products__prior and order_products__train

In [26]:
order_products__prior.shape

(32434489, 4)

In [27]:
order_products__train.shape

(1384617, 4)

In [28]:
order_products = pd.concat([order_products__prior, order_products__train])
order_products.shape

(33819106, 4)

In [0]:
assert 1 == 1

In [30]:
assert 1 == 0

AssertionError: ignored

In [0]:
assert len(order_products) == len(order_products__prior) + len(order_products__train)

In [0]:
assert order_products.shape[0] == order_products__prior.shape[0] + order_products__train.shape[0]

## Filter order_products to get as close as we can to the example table

In [0]:
display(example)

In [0]:
order_products['order_id'] == 2539329

In [0]:
order_products[order_products['order_id'] == 2539329]

In [0]:
condition = ((order_products['order_id'] == 2539329) | (order_products['order_id'] == 2398795))
order_products[condition]

## Get a subset of orders — the first two orders for user id 1

From `orders` dataframe:
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [0]:
orders.shape

In [0]:
orders[orders['user_id'] == 1]

In [0]:
orders[orders['user_id'] == 1][orders['order_number'] <= 2]

In [0]:
condition = (orders['user_id'] == 1) & (orders['order_number'] <= 2)

columns = [
    'user_id',
    'order_id',
    'order_number',
    'order_dow',
    'order_hour_of_day'
]

subset = orders.loc[condition, columns]
subset

In [0]:
display(example)

## Merge dataframes

Merge the subset from `orders` with columns from `order_products`

In [0]:
columns = ['order_id', 'add_to_cart_order', 'product_id']
print(order_products.shape)
order_products[columns].head()

Merge with columns from `products`

In [0]:
merged = pd.merge(subset, order_products[columns], how='inner', on='order_id' )

merged

In [0]:
subset.shape, order_products.shape, merged.shape

In [0]:
products.head()

In [0]:
final = pd.merge(merged, products[['product_id', 'product_name']],
                how='inner', on='product_id')
final

In [0]:
display(example)

In [0]:
final = final.sort_values(by=['order_number', 'add_to_cart_order'])
final

In [0]:
final.columns = [column.replace('_', ' ') for column in final]
final

# Reshape Datasets

## Why reshape data?

#### Some libraries prefer data in different formats

For example, the Seaborn data visualization library prefers data in "Tidy" format often (but not always).

> "[Seaborn will be most powerful when your datasets have a particular organization.](https://seaborn.pydata.org/introduction.html#organizing-datasets) This format ia alternately called “long-form” or “tidy” data and is described in detail by Hadley Wickham. The rules can be simply stated:

> - Each variable is a column
- Each observation is a row

> A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

#### Data science is often about putting square pegs in round holes

Here's an inspiring [video clip from _Apollo 13_](https://www.youtube.com/watch?v=ry55--J4_VQ): “Invent a way to put a square peg in a round hole.” It's a good metaphor for data wrangling!

## Hadley Wickham's Examples

From his paper, [Tidy Data](http://vita.had.co.nz/papers/tidy-data.html)

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

"Table 1 provides some data about an imaginary experiment in a format commonly seen in the wild. 

The table has two columns and three rows, and both rows and columns are labelled."

In [0]:
table1

"There are many ways to structure the same underlying data. 

Table 2 shows the same data as Table 1, but the rows and columns have been transposed. The data is the same, but the layout is different."

In [0]:
table2

"Table 3 reorganises Table 1 to make the values, variables and obserations more clear.

Table 3 is the tidy version of Table 1. Each row represents an observation, the result of one treatment on one person, and each column is a variable."

| name         | trt | result |
|--------------|-----|--------|
| John Smith   | a   | -      |
| Jane Doe     | a   | 16     |
| Mary Johnson | a   | 3      |
| John Smith   | b   | 2      |
| Jane Doe     | b   | 11     |
| Mary Johnson | b   | 1      |

## Table 1 --> Tidy

We can use the pandas `melt` function to reshape Table 1 into Tidy format.

In [0]:
table1.columns.to_list()

In [0]:
table1.index.to_list()

In [0]:
table1 = table1.reset_index()
table1

In [0]:
table1.index.to_list()

In [0]:
tidy = table1.melt(id_vars='index')
tidy

In [0]:
tidy = tidy.rename(columns={
    'index': 'name', 
    'variable': 'trt', 
    'value': 'result'
})

tidy

In [0]:
tidy.trt = tidy.trt.str.replace('treatment', '')

tidy

## Table 2 --> Tidy

In [0]:
##### LEAVE BLANK --an assignment exercise #####

## Tidy --> Table 1

The `pivot_table` function is the inverse of `melt`.

In [0]:
tidy.pivot_table(index='name', columns='trt', values='result')

## Tidy --> Table 2

In [0]:
##### LEAVE BLANK --an assignment exercise #####Complete the code cells we skipped near the beginning of the notebook
#Table 2 --> Tidy
#Tidy --> Table 2

# Seaborn example

The rules can be simply stated:

- Each variable is a column
- Each observation is a row

A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

In [0]:
sns.catplot(x='trt', y='result', col='name', 
            kind='bar', data=tidy, height=2);

## Now with Instacart data

In [0]:
products = pd.read_csv('products.csv')

order_products = pd.concat([pd.read_csv('order_products__prior.csv'), 
                            pd.read_csv('order_products__train.csv')])

orders = pd.read_csv('orders.csv')

## Goal: Reproduce part of this example

Instead of a plot with 50 products, we'll just do two — the first products from each list
- Half And Half Ultra Pasteurized
- Half Baked Frozen Yogurt

In [0]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*wKfV6OV-_1Ipwrl7AjjSuw.png'
example = Image(url=url, width=600)

display(example)

So, given a `product_name` we need to calculate its `order_hour_of_day` pattern.

## Subset and Merge

One challenge of performing a merge on this data is that the `products` and `orders` datasets do not have any common columns that we can merge on. Due to this we will have to use the `order_products` dataset to provide the columns that we will use to perform the merge.

In [0]:
product_names = ['Half Baked Frozen Yogurt', 'Half And Half Ultra Pasteurized']

In [0]:
products.columns.tolist()

In [0]:
orders.columns.tolist()

In [0]:
order_products.columns.tolist()

In [0]:
merged = (products[['product_id', 'product_name']]
         .merge(order_products[['order_id', 'product_id']])
         .merge(orders[['order_id', 'order_hour_of_day']]))

In [0]:
products.shape, order_products.shape, orders.shape, merged.shape

In [0]:
merged.head()

In [0]:
condition = ((merged['product_name']=='Half Baked Frozen Yogurt') |
             (merged['product_name']=='Half And Half Ultra Pasteurized'))


# The above and below statements are equivalent

product_names = ['Half Baked Frozen Yogurt', 'Half And Half Ultra Pasteurized']

condition = merged['product_name'].isin(product_names)

In [0]:
subset = merged[condition]
# subset.head()
subset.sample(n=5)

In [0]:
subset.shape

## 4 ways to reshape and plot

### 1. value_counts

In [0]:
display(example)

In [0]:
froyo = subset[subset['product_name']=='Half Baked Frozen Yogurt']
cream = subset[subset['product_name']=='Half And Half Ultra Pasteurized']

In [0]:
(cream['order_hour_of_day']
 .value_counts(normalize=True)
 .sort_index()
 .plot())

(froyo['order_hour_of_day']
 .value_counts(normalize=True)
 .sort_index()
 .plot());

### 2. crosstab

In [0]:
pd.crosstab(subset['order_hour_of_day'], 
            subset['product_name'])

In [0]:
(pd.crosstab(subset['order_hour_of_day'], 
             subset['product_name'], 
             normalize='columns') * 100).plot();

### 3. Pivot Table

In [0]:
subset.pivot_table(index='order_hour_of_day', 
                   columns='product_name', 
                   values='order_id', 
                   aggfunc=len).plot();

### 4. melt

In [0]:
table = pd.crosstab(subset['order_hour_of_day'], 
                    subset['product_name'], 
                    normalize=True)

melted = (table
 .reset_index()
 .melt(id_vars='order_hour_of_day')
 .rename(columns={
     'order_hour_of_day': 'Hour of Day Ordered', 
     'product_name': 'Product', 
     'value': 'Percent of Orders by Product'
 }))

sns.relplot(x='Hour of Day Ordered', 
            y='Percent of Orders by Product', 
            hue='Product', 
            data=melted, 
            kind='line');

# Assignment

## Join Data Section

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [31]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

In [0]:
new_products = pd.read_csv('products.csv')

In [33]:
new_products.head(10)

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13
5           6  ...            11
6           7  ...             7
7           8  ...             1
8           9  ...            16
9          10  ...             7

[10 rows x 4 columns]

In [0]:
new_products['product_name'] =='Bananas'

In [0]:
condition = ((new_products['product_name'] =='Bananas') | (new_products['product_name'] == 'Strawberries') | (new_products['product_name'] == 'Bag of Organic Bananas') | (new_products['product_name'] == 'Organic Strawberries') | (new_products['product_name'] == 'Organic Baby Spinach') | 
              (new_products['product_name']== 'Organic Hass Avocado') | (new_products['product_name'] =='Organic Avocado') | (new_products['product_name'] == 'Large Lemon') | (new_products['product_name'] == 'Organic Whole Milk'))

In [0]:
p_ids = new_products[condition]['product_id']

In [0]:
aisles_filename = "aisles.csv"
departments_filename = "departments.csv"
op_prior_filename = "order_products__prior.csv"
op_train_filename = "order_products__train.csv"
orders_filename = "orders.csv"
products_filename = "products.csv"

In [38]:
new_order_pds = pd.read_csv(op_prior_filename)
print(new_order_pds.shape)
new_order_pds.head()

(32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [40]:
new_order_pds2 = pd.read_csv(op_train_filename)
print(new_order_pds2.shape)
new_order_pds2.head()

(1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [0]:
op_concat_data = pd.concat([new_order_pds, new_order_pds2])

In [42]:
op_concat_data.shape

(33819106, 4)

In [45]:
op_concat_data.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [43]:
orders.shape

(3421083, 7)

In [44]:
orders[orders['user_id'] == 1]

    order_id  user_id  ... order_hour_of_day  days_since_prior_order
0    2539329        1  ...                 8                     NaN
1    2398795        1  ...                 7                    15.0
2     473747        1  ...                12                    21.0
3    2254736        1  ...                 7                    29.0
4     431534        1  ...                15                    28.0
5    3367565        1  ...                 7                    19.0
6     550135        1  ...                 9                    20.0
7    3108588        1  ...                14                    14.0
8    2295261        1  ...                16                     0.0
9    2550362        1  ...                 8                    30.0
10   1187899        1  ...                 8                    14.0

[11 rows x 7 columns]

In [46]:
orders[orders['user_id'] == 1] [orders['order_number'] <= 2]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0

[2 rows x 7 columns]

In [47]:
conditions = (orders['user_id'] == 1) & (orders ['order_number'] <= 2)

columns = [
    'user_id',
    'order_id',
    'order_number',
    'order_dow',
    'order_hour_of_day'
]

subset = orders.loc[conditions, columns]
subset

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7

In [48]:
merged = subset.merge(op_concat_data, how='inner', on='order_id')
merged.shape

(11, 8)

In [49]:
merged

    user_id  order_id  order_number  ...  product_id  add_to_cart_order  reordered
0         1   2539329             1  ...         196                  1          0
1         1   2539329             1  ...       14084                  2          0
2         1   2539329             1  ...       12427                  3          0
3         1   2539329             1  ...       26088                  4          0
4         1   2539329             1  ...       26405                  5          0
5         1   2398795             2  ...         196                  1          1
6         1   2398795             2  ...       10258                  2          0
7         1   2398795             2  ...       12427                  3          1
8         1   2398795             2  ...       13176                  4          0
9         1   2398795             2  ...       26088                  5          1
10        1   2398795             2  ...       13032                  6          0

[11 rows x 8 columns]

In [50]:
result = op_concat_data[op_concat_data['product_id'].isin(p_ids)][['order_id', 'product_id']]
result.head()

    order_id  product_id
12         3       21903
30         5       13176
51         5       47209
80        10       47766
83        10       21137

In [0]:
product_counts = result['product_id'].value_counts().reset_index()

In [52]:
product_counts.columns.to_list()

['index', 'product_id']

In [0]:
product_counts.columns = ['product_id', 'count']

In [54]:
product_counts = product_counts.merge(new_products[['product_id', 'product_name']],how='inner', on='product_id')
product_counts

   product_id   count            product_name
0       13176  394930  Bag of Organic Bananas
1       21137  275577    Organic Strawberries
2       21903  251705    Organic Baby Spinach
3       47209  220877    Organic Hass Avocado
4       47766  184224         Organic Avocado
5       47626  160792             Large Lemon
6       16797  149445            Strawberries
7       27845  142813      Organic Whole Milk
8       39276    5500                 Bananas

In [0]:
#using_tidy = product_counts.melt(id_vars='reset_index')
#using_tidy

In [0]:
import seaborn as sns

In [0]:
flights = sns.load_dataset('flights')

In [61]:
flights.head(10)

   year      month  passengers
0  1949    January         112
1  1949   February         118
2  1949      March         132
3  1949      April         129
4  1949        May         121
5  1949       June         135
6  1949       July         148
7  1949     August         148
8  1949  September         136
9  1949    October         119

In [66]:
flights.count().isnull()

year          False
month         False
passengers    False
dtype: bool

In [72]:
year = flights.year
year.shape

(144,)

In [73]:
month = flights.month
month.shape

(144,)

In [0]:
a_year,b_month = flights.year,flights.month

Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. 
You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [98]:
month_year = pd.pivot_table(flights, index=year, columns= month)
month_year

      passengers                       ...
month    January February March April  ... September October November December
year                                   ...
1949         112      118   132   129  ...       136     119      104      118
1950         115      126   141   135  ...       158     133      114      140
1951         145      150   178   163  ...       184     162      146      166
1952         171      180   193   181  ...       209     191      172      194
1953         196      196   236   235  ...       237     211      180      201
1954         204      188   235   227  ...       259     229      203      229
1955         242      233   267   269  ...       312     274      237      278
1956         284      277   317   313  ...       355     306      271      306
1957         315      301   356   348  ...       404     347      305      336
1958         340      318   362   348  ...       404     359      310      337
1959         360      342   406   396  ...       463     407      362      405
1960         417      391   419   461  ...       508     461      390      432

[12 rows x 12 columns]

In [0]:
##### YOUR CODE HERE #####
from tabulate import tabulate

In [0]:
header = ['month', 'year', 'date', 'decade', 'era']
print(header)

In [111]:
print(tabulate(month_year, headers=header))

                                           month    year    date    decade    era
----  ---  ---  ---  ---  ---  ---  ---  -------  ------  ------  --------  -----
1949  112  118  132  129  121  135  148      148     136     119       104    118
1950  115  126  141  135  125  149  170      170     158     133       114    140
1951  145  150  178  163  172  178  199      199     184     162       146    166
1952  171  180  193  181  183  218  230      242     209     191       172    194
1953  196  196  236  235  229  243  264      272     237     211       180    201
1954  204  188  235  227  234  264  302      293     259     229       203    229
1955  242  233  267  269  270  315  364      347     312     274       237    278
1956  284  277  317  313  318  374  413      405     355     306       271    306
1957  315  301  356  348  355  422  465      467     404     347       305    336
1958  340  318  362  348  363  435  491      505     404     359       310    337
1959  360  342  406  396  420  472  548      559     463     407       362    405
1960  417  391  419  461  472  535  622      606     508     461       390    432

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)